# ==========================================
# 1. Arquivos do R e RStudio
# ==========================================
.Rproj.user/
.Rhistory
.RData
.Ruserdata
.Rapp.history

# ==========================================
# 2. Cache e Intermediários do Quarto
# ==========================================
/.quarto/
*_files/
*_cache/
*.html

# ==========================================
# 3. Bases de Dados
# ==========================================
*.csv
*.rds
*.RData
*.xlsx
pnad2014.rds

# ==========================================
# 4. Arquivos de Sistema Operacional
# ==========================================
.DS_Store
Thumbs.db